<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <title>Document</title>
    <style>
        .red {
            color: red;
        }
        .blue {
            color: blue;
        }
        .is-loading {
            color: green;
        }
    </style>
</head>
<body>
    <div id="root">
        <h1>Completed Tasks</h1>
        <ul>
            <li v-for="task in completedTasks"><button @click="toggleTask(task)">toggle</button>{{ task.description}}</li>
        </ul>
        <h2>Incomplete Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks"><button @click="toggleTask(task)">toggle</button>{{ task.description }}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                tasks: [
                    { description: 'Go to store', completed: true },
                    { description: 'walk dog', completed: false },
                    { description: 'buy food', completed: false }
                ]
            },
            methods: {
                toggleTask(task) {
                    task.completed ? task.completed = false : task.completed = true;
                }
            }, 
            computed: {
                completedTasks() {
                    completed = [];
                    for (var i in this.tasks) {
                        const task = this.tasks[i];
                        if (task.completed) completed.push(task);
                    }
                    return completed;
                },
                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed);
                }
            }
        })
    </script>
    
</body>
</html>